# This is Git's per-user configuration file.
[user]
  name = Lance Batson
  email = lancebatsondev@gmail.com
[credential]
  helper = osxkeychain
[core]
  editor = vim
  autocrlf = input
[push]
  default = current
  rebase = false
[includeIf "gitdir:~/source/webmd/"]
  path = ~/.dotfiles/git/.work.gitconfig

